In [1]:
# library
import pandas as pd
import pymysql.cursors
from sqlalchemy import create_engine
pymysql.install_as_MySQLdb()
import MySQLdb

# 대용량 import & 테이블 저장
engine = create_engine("mysql+mysqldb://root:Rjwpgotjdrhemd0!@localhost:3306/DB_UNIVERSITY_PROJECT", encoding='utf-8')
db_connection = engine
conn = db_connection.connect()

players_21_revise = pd.read_csv('data/players_21_revise.csv', encoding='cp949')
players_21_revise
players_21_revise.to_sql(name='players_21_revise', con=conn, if_exists='replace')

In [2]:
# user_input_df 생성

userID= input("ID를 입력해주세요 ")
money = int(input("보유하신 금액을 입력해주세요 "))
formation_name = input("포메이션은 어떤 것을 원하시나요? ")
user_tendency = input("어떤 성향이신가요? (공격형, 연계형, 수비형) ")

temp_list = [[userID, money, formation_name, user_tendency]]

temp_df = pd.DataFrame(temp_list, columns=["userID", "money", 'formation_name', 'user_tendency'])
temp_df.to_sql(name='user_input_df', con=conn, if_exists='replace')

ID를 입력해주세요 jyjin3
보유하신 금액을 입력해주세요 65000000
포메이션은 어떤 것을 원하시나요? 433
어떤 성향이신가요? (공격형, 연계형, 수비형) 공격형

In [3]:
# write query - uid_formation_inner join
# pymysql connect
conn = pymysql.connect(host = 'localhost', user='root', password='Rjwpgotjdrhemd0!', database = 'DB_UNIVERSITY_PROJECT')
sql = "select formation_revise.* from user_input_df inner join formation_revise ON (user_input_df.formation_name = formation_revise.formation)"

# execute query
curs = conn.cursor()
curs.execute(sql)

# pandas DataFrame 변환
uid_formation = pd.DataFrame(data=curs.fetchall(), columns = ['formation', 'LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW', 'LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM', 'LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB'])

uid_formation.set_index(['formation'], inplace = True)

In [4]:
uid_formation

,LS,ST,RS,LW,LF,CF,RF,RW,LAM,CAM,...,LWB,LDM,CDM,RDM,RWB,LB,LCB,CB,RCB,RB
formation,,,,,,,,,,,,,,,,,,,,,
433,0,1,0,1,0,0,0,1,0,0,...,0,0,0,0,0,1,1,0,1,1

In [5]:
# 필요한 포지션만 선별
position_list = list(uid_formation.columns)
position_list_fix = []

for i in position_list:
    for j in list(uid_formation.index):
        if (uid_formation.loc[j, i] == 1):
            position_list_fix.append(i)
            
position_list_fix

['ST', 'LW', 'RW', 'LCM', 'CM', 'RCM', 'LB', 'LCB', 'RCB', 'RB']

In [6]:
candidate_player_by_position = pd.DataFrame(index=range(0,0), columns = ['long_name', 'value', 'position'])

for i in position_list_fix:
    sql = "select long_name, value_eur, overall, team_position, club_name, league_name from players_21_revise WHERE (team_position = %s)"
    curs.execute(sql, i)
    temp_df = pd.DataFrame(data=curs.fetchall(), columns = ['long_name', 'value', 'overall','position', 'club_name', 'league_name'])
    
    candidate_player_by_position = pd.concat([candidate_player_by_position, temp_df])
    
candidate_player_by_position.set_index('long_name')

# 데이터베이스 테이블로 저장
engine = create_engine("mysql+mysqldb://root:Rjwpgotjdrhemd0!@localhost:3306/DB_UNIVERSITY_PROJECT", encoding='utf-8')
db_connection = engine
conn = db_connection.connect()
candidate_player_by_position.to_sql(name='candidate_player_by_position', con = conn, if_exists = 'replace')

In [7]:
# 선수 포지션 별 돈 나누기
attacker = ['LS', 'ST', 'RS', 'LW', 'LF', 'CF', 'RF', 'RW']
mider = ['LAM', 'CAM', 'RAM', 'LM', 'LCM', 'CM', 'RCM', 'RM']
defender = ['LWB', 'LDM', 'CDM', 'RDM', 'RWB', 'LB', 'LCB', 'CB', 'RCB', 'RB']
money_portion_by_tendency = [[0.6, 0.3, 0.1], [0.3, 0.5, 0.2], [0.3, 0.3, 0.4]]

def money_position(position_list_fix):
    attacker_len = 0
    mider_len = 0
    defender_len = 0

    for i in position_list_fix:
        if i in attacker:
            attacker_len += 1
        elif i in mider:
            mider_len += 1
        else:
            defender_len += 1
            
    sql = "select money, user_tendency from user_input_df"
    conn = pymysql.connect(host = 'localhost', user='root', password='Rjwpgotjdrhemd0!', database = 'DB_UNIVERSITY_PROJECT')
    curs = conn.cursor()
    curs.execute(sql)
    data = curs.fetchall()
    
    money = ((data[0]))[0]
    user_tendency_db = ((data[0]))[1]
    
    if user_tendency_db == "공격형":
        final_money_portion = money_portion_by_tendency[0]
    elif user_tendency_db == "연계형":
        final_money_portion = money_portion_by_tendency[1]
    elif user_tendency_db == "수비형":
        final_money_portion = money_portion_by_tendency[2]    
    
    attack_money = money * final_money_portion[0] / attacker_len
    mider_money = money * final_money_portion[1] / mider_len
    defender_money = money * final_money_portion[2] / defender_len

    return [attack_money, mider_money, defender_money]

money_position_list = money_position(position_list_fix)
money_position_list

[13000000.0, 6500000.0, 1625000.0]

In [8]:
final_candidate = pd.DataFrame(index=range(0,0), columns = ['long_name', 'value', 'position', 'overall', 'club_name', 'league_name'])
conn = pymysql.connect(host = 'localhost', user='root', password='Rjwpgotjdrhemd0!', database = 'DB_UNIVERSITY_PROJECT')
for i in position_list_fix:
    if i in attacker:
        sql = 'select long_name, value, position, overall, club_name, league_name from candidate_player_by_position where position = %s and value <= %s order by value DESC, overall DESC limit 1;'
        curs = conn.cursor()
        curs.execute(sql, (i, money_position_list[0]))
        temp_df = pd.DataFrame(data = curs.fetchall(), columns =['long_name', 'value', 'position', 'overall', 'club_name', 'league_name'])
        final_candidate = pd.concat([final_candidate, temp_df])
    elif i in mider:
        sql = 'select long_name, value, position, overall, club_name, league_name from candidate_player_by_position where position = %s and value <= %s order by value DESC, overall DESC limit 1;'
        curs = conn.cursor()
        curs.execute(sql, (i, money_position_list[1]))
        temp_df = pd.DataFrame(data = curs.fetchall(), columns =['long_name', 'value', 'position', 'overall', 'club_name', 'league_name'])
        final_candidate = pd.concat([final_candidate, temp_df])
    else:
        sql = 'select long_name, value, position, overall, club_name, league_name from candidate_player_by_position where position = %s and value <= %s order by value DESC, overall DESC limit 1;'
        curs = conn.cursor()
        curs.execute(sql, (i, money_position_list[2]))
        temp_df = pd.DataFrame(data = curs.fetchall(), columns =['long_name', 'value', 'position', 'overall', 'club_name', 'league_name'])
        final_candidate = pd.concat([final_candidate, temp_df])
final_candidate.set_index('long_name')

final_candidate

,long_name,value,position,overall,club_name,league_name
0,Abderrazak Hamdallah,12500000,ST,79.0,Al Nassr,Saudi Abdul L. Jameel League
0,Jo?o Pedro Geraldino dos Santos Galv?o,13000000,LW,79.0,Cagliari,Italian Serie A
0,Nahitan Michel N?ndez Acosta,12000000,RW,77.0,Cagliari,Italian Serie A
0,Jack Cork,6500000,LCM,77.0,Burnley,English Premier League
0,Guillermo Mat?as Fern?ndez,5500000,CM,74.0,Boca Juniors,Argentina Primera Divisi?n
0,Ruud Willem Vormer,6500000,RCM,77.0,Club Brugge KV,Belgian Jupiler Pro League
0,Mitchel Bakker,1600000,LB,69.0,Paris Saint-Germain,French Ligue 1
0,Javier Horacio Pinola,1600000,LCB,76.0,River Plate,Argentina Primera Divisi?n
0,Harlee Dean,1600000,RCB,70.0,Birmingham City,English League Championship
0,Adriano Correia Claro,1600000,RB,74.0,KAS Eupen,Belgian Jupiler Pro League

In [9]:
# final entry DB 저장
engine = create_engine("mysql+mysqldb://root:Rjwpgotjdrhemd0!@localhost:3306/DB_UNIVERSITY_PROJECT", encoding='utf-8')
db_connection = engine
conn = db_connection.connect()

final_candidate.to_sql(name='result_final_candidate', con=conn, if_exists='replace')

In [10]:
print(final_candidate['value'].sum())
print(final_candidate['overall'].sum())

62400000
752.0

In [16]:
other_player_suggestion = "a"

while other_player_suggestion != "exit" :
    other_player_suggestion = input("특정 포지션의 성능이 비슷한 다른 선수들을 보고싶으시면 포지션 명을 입력해주세요 ex) ST ")
    
    if other_player_suggestion == "exit":
        break
    
    conn = pymysql.connect(host = 'localhost', user='root', password='Rjwpgotjdrhemd0!', database = 'DB_UNIVERSITY_PROJECT')

    sql = 'select * from candidate_player_by_position where position = %s and value <= %s order by value DESC, overall DESC limit 5;'
    curs = conn.cursor()
    if other_player_suggestion in attacker:
        curs.execute(sql, (other_player_suggestion, money_position_list[0]))
    elif other_player_suggestion in mider:
        curs.execute(sql, (other_player_suggestion, money_position_list[1]))
    elif other_player_suggestion in mider:
        curs.execute(sql, (other_player_suggestion, money_position_list[2]))
        
    other_suggestion_df = pd.DataFrame(data=curs.fetchall(), columns =['index','long_name', 'value', 'position', 'overall', 'club_name', 'league_name'])
    print(other_suggestion_df)

특정 포지션의 성능이 비슷한 다른 선수들을 보고싶으시면 포지션 명을 입력해주세요 ex) ST ST
   index                      long_name     value position  overall  \
0     37           Abderrazak Hamdallah  12500000       ST     79.0
1     38         Dar?o Ismael Benedetto  12000000       ST     79.0
2     36                            艾克森  12000000       ST     79.0
3     50  Matheus Jadson Bardeira Cunha  12000000       ST     78.0
4     51                 Bruno Petkovi?  11500000       ST     77.0

                        club_name                    league_name
0                        Al Nassr   Saudi Abdul L. Jameel League
1          Olympique de Marseille                 French Ligue 1
2  Guangzhou Evergrande Taobao FC           Chinese Super League
3                       S?o Paulo  Campeonato Brasileiro S?rie A
4                   Dinamo Zagreb              Croatian Prva HNL
특정 포지션의 성능이 비슷한 다른 선수들을 보고싶으시면 포지션 명을 입력해주세요 ex) ST exit